<ion-content>
  <ion-card>
        <ion-card-title class="ion-text-center">مصففات الشعر</ion-card-title>
  </ion-card>
  <ion-card>
  

      <ion-card-content>
          
             <ion-grid>
               <ion-row>
                 <ion-col>
                    <ion-avatar>
                        <img src="assets/photo.jpg" item-right>
                      </ion-avatar> 

                 </ion-col>
                 <ion-col>
                    <ion-label>فاطمه عسيري</ion-label>

                 </ion-col>
               </ion-row>
               <ion-row class="ion-align-items-end">
                  <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
               </ion-row>
              </ion-grid>
                  <ion-button fill="outline" slot="end" >حجز</ion-button>
           
      </ion-card-content>
    </ion-card>
    <ion-card>
  

        <ion-card-content>
            
               <ion-grid>
                 <ion-row>
                   <ion-col>
                      <ion-avatar>
                          <img src="assets/photo.jpg" item-right>
                        </ion-avatar> 
  
                   </ion-col>
                   <ion-col>
                      <ion-label>مها محمد</ion-label>
  
                   </ion-col>
                 </ion-row>
                 <ion-row class="ion-align-items-end">
                    <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                    <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                    <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                 </ion-row>
                </ion-grid>
                    <ion-button fill="outline" slot="end" >حجز</ion-button>
             
        </ion-card-content>
      </ion-card>
      <ion-card>
  

          <ion-card-content>
              
                 <ion-grid>
                   <ion-row>
                     <ion-col>
                        <ion-avatar>
                            <img src="assets/photo.jpg" item-right>
                          </ion-avatar> 
    
                     </ion-col>
                     <ion-col>
                        <ion-label>نوره حسن</ion-label>
    
                     </ion-col>
                   </ion-row>
                   <ion-row class="ion-align-items-end">
                      <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                      <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                   </ion-row>
                  </ion-grid>
                      <ion-button fill="outline" slot="end" >حجز</ion-button>
               
          </ion-card-content>
        </ion-card>
          
    

    
      
        

</ion-content>
