.card-content-ios{
    font-size: 20px;
    text-align: right;
}
ion-row {
    align-items: end;
}
ion-row.ion-align-items-end.ios.hydrated {
    display: block;
}
ion-avatar.ios.hydrated {
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 20px;
}
.card-title{
    
}