<ion-content>
    <ion-card class="card-title">
          <ion-card-title class="ion-text-center">خبيرات المكياج</ion-card-title>
    </ion-card>
    <ion-card>
    
  
        <ion-card-content [routerLink]="['/rating']" routerLinkActive="router-link-active" >
            
               <ion-grid>
                 <ion-row>
                   <ion-col>
                      <ion-avatar>
                          <img src="assets/00-tout-makeup-organizer.jpg" item-right>
                        </ion-avatar> 
  
                   </ion-col>
                   <ion-col>
                      <ion-label>ابتسام الالمعي</ion-label>
  
                   </ion-col>
                 </ion-row>
                 <ion-row class="ion-align-items-end">
                    <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                 </ion-row>
                </ion-grid>
                    
             
        </ion-card-content>
      </ion-card>
      <ion-card>
    
  
          <ion-card-content>
              
                 <ion-grid>
                   <ion-row>
                     <ion-col>
                        <ion-avatar>
                            <img src="assets/5175c486-778f-4eae-98a6-73efa5d2cc15.jpg" item-right>
                          </ion-avatar> 
    
                     </ion-col>
                     <ion-col>
                        <ion-label>فاطمه الشهراني</ion-label>
    
                     </ion-col>
                   </ion-row>
                   <ion-row class="ion-align-items-end">
                      <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                      <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                      <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                   </ion-row>
                  </ion-grid>
                      
               
          </ion-card-content>
        </ion-card>
        <ion-card>
    
  
            <ion-card-content>
                
                   <ion-grid>
                     <ion-row>
                       <ion-col>
                          <ion-avatar>
                              <img src="assets/category_makeup_2_840x400-1nea3.jpg" item-right>
                            </ion-avatar> 
      
                       </ion-col>
                       <ion-col>
                          <ion-label>مها الاحمري</ion-label>
      
                       </ion-col>
                     </ion-row>
                     <ion-row class="ion-align-items-end">
                        <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                        <ion-icon name="star" class="ion-align-items-center"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                     </ion-row>
                    </ion-grid>
                       
                 
            </ion-card-content>
          </ion-card>
            
      
  
      
        
          
  
  </ion-content>
  