<ion-header>
  
  </ion-header>
 
  <ion-content >
      <div color="primary">
      <ion-card>
          <ion-card-header>
            
           
          </ion-card-header>
          <ion-img src="assets/Thame 002-07.png"></ion-img>
          <ion-card-title class="ion-text-center" id='title' color="primary">تسجيل الدخول</ion-card-title>
          <form class="input">
            <ion-input placeholder="username" id="name1" #nameE1 ></ion-input>
            <ion-input placeholder="password" id="name2" #nameE2></ion-input>

           

          </form>

          
          <ion-button (click)="log(nameE1.value,nameE2.value)" class='loginbtn'>دخول</ion-button>
        
          <ion-card-content>
  
           
          </ion-card-content>
        </ion-card>
      </div>
    
  </ion-content>

  