<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-card-header>
          <ion-avatar>
              <ion-img src="assets/Thame 002-07.png"></ion-img>

          </ion-avatar>
        
            <ion-card-title class="ion-text-center">اسم المستخدم</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         <ion-item class="ion-align-items-end">
           <ion-label color="primary" >
            
             <h2>حجوزاتي</h2>
           </ion-label>

         </ion-item>
         <ion-list lines='none' dir="rtl">
           <h5>موعد لدى: مها الاحمري</h5>
           <h5>بتاريخ:الاثنين ١٤-٥-٢٠١٩</h5>
           <h5>الساعه:٤ مساء</h5>
         </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
