.list-ios {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 32px;
}
ion-button.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    margin-top: 300px;
    margin-left: 37%;
}

.hydrated {
    visibility: inherit;
    margin-top:inherit;
}