<ion-header>
  <ion-toolbar>
    <ion-title>التقييمات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item dir="rtl">
        <ion-row class="ion-align-items-end">
          <ion-col>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-col>
         </ion-row>
         <ion-row>
           جيده جدا
         </ion-row>
    </ion-item>
    <ion-item dir="rtl">
        <ion-row class="ion-align-items-end">
          <ion-col>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-col>
         </ion-row>
         <ion-row>
           ممتازه
         </ion-row>
    </ion-item>
    <ion-item dir="rtl">
        <ion-row class="ion-align-items-end">
          <ion-col>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star" class="ion-align-items-center"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-col>
         </ion-row>
         <ion-row>
           ممتازه
         </ion-row>
    </ion-item>


  </ion-list>
  <ion-button>
    اضافة تقييم
  </ion-button>

</ion-content>
