
ion-button.ios.button.button-outline.ion-activatable.ion-focusable.hydrated {
    
    display: block;
    width: 100px;
}
ion-button.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    width: -webkit-fill-available;
}
.list-ios {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 32px;
}
.card-content-ios{
    font-size: 20px;
    text-align: right;
}
ion-row {
    align-items: end;
}
ion-row.ion-align-items-end.ios.hydrated {
    display: block;
}
/* ion-avatar.ios.hydrated {
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 20px;
} */
.special{
    width: 5px;
    height: 20px;
   
}

.chip{
    margin: 0 auto;
    margin-left: 144px;
    font-size: 23px;

}
