<ion-header>
  <ion-toolbar > 
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" text>
  <ion-card>
        <ion-card-title class="ion-text-center">قائمة الخدمات</ion-card-title>
  </ion-card>
  <ion-card>
    <ion-label>
        <ion-img src="assets/makeup.jpg" [routerLink]="['/makeup-artist']" routerLinkActive="/makeup-artist" ></ion-img>
      خبيرات مكياج
    </ion-label>
  </ion-card>
  <ion-card>
      <ion-label>
          <ion-img src="assets/Soter-Logo.png" [routerLink]="['/hairstyle']" routerLinkActive="router-link-active" ></ion-img>
          مصففات شعر
     
      </ion-label>
    </ion-card>
    <ion-card>
        <ion-label>
            <ion-img src="assets/photo.jpg"></ion-img>
          مصورات
        </ion-label>
      </ion-card>
    
    
      
        

</ion-content>